:root {
  --color-main-bg: hsl(233, 47%, 7%);
  --color-card-bg: hsl(244, 38%, 16%);
  --color-accent: hsl(277, 64%, 61%);
  --color-trans-accent: hsl(277, 64%, 61%, 0.65);
  --color-white: hsl(0, 0%, 100%);
  --color-trans-white-1: hsla(0, 0%, 100%, 0.75);
  --color-trans-white-2: hsla(0, 0%, 100%, 0.6);
  --heading-font: "Inter", sans-serif;
  --main-font: "Lexend Deca", sans-serif;
  --fw-bold: 700;
  --fw-norm: 400;
  --font-size: 15px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--main-font);
  font-size: var(--font-size);
  line-height: 1.5;
  background-color: var(--color-main-bg);
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  padding: 5rem 0 1rem;
  text-align: center;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  display: block;
}

small {
  font-size: calc(var(--font-size) * 0.8);
  text-align: center;
  display: block;
  margin-top: auto;
}

.main-heading {
  margin: 2rem 0 1rem;
  font-size: 2.25rem;
}

.main-heading span {
  color: var(--color-accent);
}

.second-heading {
  font-size: 1.85rem;
}

.card {
  background-color: var(--color-card-bg);
  width: 90%;
  margin: 0 auto;
  border-radius: 7px;
  overflow: hidden;
  margin-bottom: 3rem;
  max-width: 960px;
}

.card-img {
  position: relative;
}

.card-img::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-trans-accent);
  z-index: 10;
}

.card-body {
  padding: 2rem 0.5rem;
}

.stats {
  margin-top: 2rem;
}

.stats-item:not(:last-of-type) {
  margin-bottom: 1rem;
}

.stats-text {
  color: var(--color-trans-white-2);
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

@media screen and (min-width: 800px) {
  .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  img {
    height: 100%;
    object-fit: cover;
  }

  .stats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1050px) {
  .card-img {
    order: 2;
  }

  .card-body {
    padding: 2.5rem;
  }
}
